@model GestaoOvos.Models.ViewModels.VendasProdutosViewModel

@{
    ViewData["Title"] = "Vendas";
}

<h2>Painel de Vendas</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Vendas.ClienteId" class="control-label">Nome do Cliente</label>
                <select asp-for="Vendas.ClienteId" class="form-control" asp-items="@(new SelectList(Model.Clientes,"Id","Nome"))"></select>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Vendas.VendedorId" class="control-label">Nome do vendedor</label>
                <select asp-for="Vendas.VendedorId" class="form-control" asp-items="@(new SelectList(Model.Vendedores,"Id","Nome"))"> </select>
            </div>
            <div class="form-group">
                <label asp-for="Vendas.ProdutoId" class="control-label">Produto</label>
                <select asp-for="Vendas.ProdutoId" class="form-control" asp-items="@(new SelectList(Model.Produtos,"Id","Nome"))"> </select>
            </div>
            <div class="form-group">
                <label asp-for="Vendas.Qtd" class="control-label">Quantidade</label>
                <select asp-for="Vendas.Qtd" class="form-control" asp-items="@(new SelectList(Model.Quantidades,"Id","Descricao"))"> </select>
            </div>
            <div id="qtd"></div>

            <div class="form-group">
                <label asp-for="Vendas.Quantidade" class="control-label">Adicionar mais ovos</label>
                <input asp-for="Vendas.Quantidade" class="form-control" />
                <span asp-validation-for="Vendas.Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendas.Total" class="control-label"></label>
                <input asp-for="Vendas.Total" class="form-control" />
                <span asp-validation-for="Vendas.Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendas.StatusPgtoId" class="control-label">Status Pagamento</label>
                <select asp-for="Vendas.StatusPgtoId" class="form-control" asp-items="@(new SelectList(Model.Status,"Id","Descricao"))"> </select>
            </div>
            <div class="form-group">
                <label asp-for="Vendas.DataPagamento" class="control-label">Data do Pagamento</label>
                <input asp-for="Vendas.DataPagamento" class="form-control" />
                <span asp-validation-for="Vendas.DataPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendas.FormaPagamentoId" class="control-label">Forma Pagamento</label>
                <select asp-for="Vendas.FormaPagamentoId" class="form-control" asp-items="@(new SelectList(Model.FormaPagamentos,"Id","Descricao"))"> </select>
            </div>
            <div class="form-group">
                <label asp-for="Vendas.StatusEntregaId" class="control-label">Entrega</label>
                <select asp-for="Vendas.StatusEntregaId" class="form-control" asp-items="@(new SelectList(Model.StatusEntregas,"Id","Descricao"))"> </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
