@model GestaoOvos.Models.ViewModels.VendasProdutosViewModel

@{
    ViewData["Title"] = "Vendas";
}

<br />
<h2>Painel de Vendas</h2>
<hr />
<div class="row">

    <form class="col-auto" href="@Url.Action("Create","Venda")" method="post">

        <div class="card mb-3">
            <div class="card-header">
                Cliente
            </div>
            <div class="p-2 mt-3 mb-3">
                <div class="col-md-5">
                    @Html.DropDownListFor(model => model.Vendas.ClienteId,
                    new SelectList(Model.Clientes,"Id","Nome"),"Selecione",
                    new { @class = "form-select"})
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </div>
        </div>

        @* <div class="hidden">
        <label asp-for="Vendas.VendedorId" class="form-label">Nome do vendedor</label>
        <select asp-for="Vendas.VendedorId" class="form-select form-select-sm mb-3" asp-items="@(new SelectList(Model.Vendedores,"Id","Nome"))"> </select>
        </div>
        <div class="hidden">
        <label asp-for="Vendas.ProdutoId" class="form-label">Produto</label>
        <select asp-for="Vendas.ProdutoId" class="" form-select form-select-sm mb-3" asp-items="@(new SelectList(Model.Produtos,"Id","Nome"))"> </select>
        </div>*@


        @*  <div class="col-auto">
        <label asp-for="Vendas.Qtd" class="form-label">Quantidade</label>
        @Html.DropDownListFor(model => model.Vendas.Total,
        new SelectList(Model.Quantidades, "Qtd", "Descricao"),"Selecione",
        new { @class = "form-select form-select-sm mb-3", @id="ObjQtd"})

        </div>*@

        <div class="card mb-3">
            <div class="card-header">
                Quantidade de ovos
            </div>

            <div class="row mb-3 mt-3">
                <div class="d-flex align-items-center ">
                    <div class="col-md-4">
                        @foreach (var item in Model.Quantidades)
                        {
                            <div class="form-check form-check-inline qtdDefinido">
                                @Html.RadioButtonFor(model => model.Vendas.Qtd,item.Qtd,new {@onchange="RecuperaQtd(this.value)", @id="ObjQtd", @type="radio",@name="ObjQtd"}) @item.Descricao
                            </div>
                        }
                        <a href="#" id="BtnMaisOvos" class="btn btn-success"><i class="fa-solid fa-plus fa-sm"></i></a>
                    </div>
                    <div class="col-md-3">
                        <input name="Qtd" id="QtdTotal" class="form-control" />
                    </div>
                </div>


            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                Situação de Pagamento
            </div>
            <div class="row mt-3 mb-3">
                <div class="d-flex align-items-center">
                    <div class="col-md-4">
                        @foreach (var item in Model.Status)
                        {
                            <div class="form-check form-check-inline me-3">
                                @Html.RadioButtonFor(model => model.Vendas.StatusPgtoId,@item.Id,new {@onchange="SituacaoPgto(this.value)"}) @item.Descricao
                            </div>
                        }
                    </div>
                    <div class="col-md-4">
                        <input type="date" name="dataPgto" id="dataPgto" class="form-control" style="display:none" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                Forma Pagamento
            </div>
            <div class="row mt-3 mb-3">
                <div class="d-flex align-items-center">
                    <div class="col-md-4">
                        @foreach (var item in Model.FormaPagamentos)
                        {
                            <div class="form-check form-check-inline me-4">
                                @Html.RadioButtonFor(model => model.Vendas.FormaPagamentoId,@item.Id,new{@onchange="FormaPgto(this.value)"}) @item.Descricao
                            </div>
                        }
                    </div>
                    <div class="col-md-3">
                        <textarea id="Comentario" rows="2" cols="30" style="display:none"></textarea>
                    </div>

                </div>

            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                Situação da Entrega
            </div>
            <div class="row mt-3 mb-3">
                <div class="d-flex align-items-center">
                    <div class="col-md-4">
                        @foreach (var item in Model.StatusEntregas)
                        {
                            <div class="form-check form-check-inline me-4">
                                @Html.RadioButtonFor(model => model.Vendas.StatusEntregaId,@item.Id,new{@onchange="SituacaoEntrega(this.value)"}) @item.Descricao
                            </div>
                        }
                    </div>
                    <div class="col-md-3">
                        <input id="dataEntrega" type="date" class="form-control" style="display:none" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-evenly">
                <a class="btn btn-primary mt-3 mb-3" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
                <button type="submit" class="btn btn-success mt-3 mb-3"> Salvar <i class="fa-solid fa-floppy-disk"></i></button>
               
            </div>
        </div>

    </form>
</div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function RecuperaQtd(qtd) {

            if (qtd > 0) {
                $('#QtdTotal').val(qtd)
            }
        }

        function SituacaoPgto(st) {
            if (st > 1) {
                $('#dataPgto').show()
            } else (
                $('#dataPgto').css("display", "none")
            )
        }

        function SituacaoEntrega(se) {
            if (se > 1) {
                $('#dataEntrega').show()
            } else (
                $('#dataEntrega').css("display", "none")
            )
        }
        function FormaPgto(desc) {
            if (desc == 2) {
                $('#Comentario').show()
            } else (
                $('#Comentario').css("display", "none")
            )
        }

        $(document).ready(function () {
            $('#BtnMaisOvos').on('click', function () {
                const QtdAtual = $('#QtdTotal').val();
                if (QtdAtual < 1) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Escolha 12 ou 24 ovos!'
                    })
                    return;
                }
                const OvosSelec = $("#ObjQtd:checked").val();
                const somado = parseInt(QtdAtual) + parseInt(OvosSelec);
                $('#QtdTotal').val(somado)
            });

            $('#btn-Salvar').on('click', function () {
                $('form').submit()
            })

        });

    </script>
}
