@model IEnumerable<GestaoOvos.Models.Vendas>

@{
    ViewData["Title"] = "Painel de Vendas";
}

<br />
<div class="jumbotron text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<br />
@if (ViewBag.Message != null)
{
    <p><h3>@ViewBag.Message</h3></p>
}
<div>
    <p>
        <a class="btn btn-success btn-sm" asp-action="Create">Nova Venda</a>
    </p>
</div>
<hr />
<table class="table table-bordered table-striped display" id="tabela" style="width:100%">
    <thead>
        <tr class="btn-primary">
            <th>
                Cliente
            </th>
            <th>
                Pagamento
            </th>
            <th>
                Entrega
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusPgto.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusEntrega.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qtd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Alterar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#tabela').DataTable({
                language: {
                    autoWidth: false,
                    url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json'
                },
            });
        });
    </script>
}
